body {
  background-image: url("Images/background1.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: "Catamaran", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background: linear-gradient(#ffffffe6, #fff0);
  margin-top: 9em;
  width: fit-content;

  padding: 2em;
}
#intro h1 {
  font-size: 5em;
  text-align: center;
  margin: 0;
  letter-spacing: 5px;
  color: rgb(116, 27, 27);
  font-weight: 700;
}
#intro p {
  font-size: 1.5em;
  max-width: 900px;
  text-align: center;
}
#overview {
  text-decoration: underline;
  font-style: italic;
  font-family: 500;
}
.next {
  background: rgb(116, 27, 27);
  padding: 0.8em;
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  border: none;
}
#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background: linear-gradient(#ffffffe6, #fff0);
  margin-top: 9em;


  padding: 2em 4em;
}


#main h2{
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  letter-spacing: 5px;
  color: rgb(116, 27, 27);
  font-weight: 700;
  max-width: 1000px;
  border: 5px solid  rgb(116, 27, 27);
  padding: 2.3em;
  font-size: 700;
  border-radius: 50%;
  
}
#column{
  display: grid;
  grid-template-columns: 50% 50%;

}
.rows{
  display: flex;
  flex-direction: column;
 justify-content: left;
  text-align: left;
  margin-left: 3em;
}
img {
  width: 35vw;
  height: 40vh;
}
.wideImage{
  width: 35vw;
  height: 30vh;
}
#saveRes{
  width: 40vw;
  height: 30vh;
}
.number{
  color: rgb(116, 27, 27);
  font-size: 1.3em;
  font-weight: 700;
}
.fields p{
  font-size: 1.3em;
}
.fields p strong{
  font-weight: 700;
  text-decoration: underline;
}